{
  "clientId": "REPLACE ME.apps.googleusercontent.com",
  "apiKey": "REPLACE_ME",
  "appId": "REPLACE_ME",
  "privacyUrl": "https://cosmindxu.github.io/mbse-workflow/privacy/",
  "supportUrl": "https://github.com/cosmindxu/mbse-workflow/issues"
}
